body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    color: #200101;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,h2,h3 {
    color: #200101;
}

.container{
    flex: 1 ;
}

/* Navbar */
.navbar{
        position:relative;
        top: 0;
        width: 100%;
       
    }
    
.fa-compass{
    color: #860609;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* Footer */

footer {
    background-color: #101010;
    padding: 20px;
    text-align: center;
    margin-bottom: -10px;
    
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info,
.footer-links-div {
    flex: 1;
}

.footer-info p {
    margin: 5px 0;
    color:rgb(255, 204, 0);
}


.footer-links-div {
    text-align: center;
    margin-left: 30px;
    color: orangered;
}

.footer-heading {
    margin-bottom: 10px;
}



/* Cards */

.card{
    border: none !important;
    margin-bottom: 2rem; 
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    /* border-bottom: #222222 solid 10px; */
}

/* Button */
.add-btn{
    background-color: #860609 !important;
    border: none !important;
}

.edit-btn{
    background-color: #860609 !important;
    border: none !important;
}
.btns{
    display: flex;

}

/* Show Page */
.show-img{
    height: 30vh;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}